-var pageTitle="Breeds"
doctype html
html(lang="en")
    head
        title=pageTitle
        style
            include ../scss/breeds.css
            script(src='../breeds.js')

    body
        section.sectionMenu
            .sectionMenu-logo
                .sectionMenu-logo-1
                .sectionMenu-logo-2
            .sectionMenu-group
                .sectionMenu-group-welcomBlock
                    p#welcomP1 Hi intern!
                    p#welcomP2 Welcome to MI 2022 Front-end test
                    p#welcomP3 Lets start using The Cat API
                .sectionMenu-group-itemBlock
                    .sectionMenu-group-itemBlock-itemCard
                        .sectionMenu-group-itemBlock-itemCard-img#item1
                            img(src='/PetsPaw/src/images/breeds/voting.png' , alt="voting")
                        .sectionMenu-group-itemBlock-itemCard-btn
                            a(href="/src/pugs/voting.html") VOTING
                    .sectionMenu-group-itemBlock-itemCard
                        .sectionMenu-group-itemBlock-itemCard-img#item2
                            img(src='/PetsPaw/src/images/breeds/breeds.png' , alt="breeds")
                        .sectionMenu-group-itemBlock-itemCard-btn
                            a(href="/src/pugs/breeds.html") BREEDS
                    .sectionMenu-group-itemBlock-itemCard
                        .sectionMenu-group-itemBlock-itemCard-img#item3
                            img(src='/PetsPaw/src/images/breeds/gallery.png' , alt="gallery")
                        .sectionMenu-group-itemBlock-itemCard-btn
                            a(href="/src/pugs/gallery.html") GALLERY
        section.sectionBreeds
            .sectionBreeds-menuOne
                form
                    input(type="search", value="Search for breeds by name")
                    button#btnSearch
                        img(src="/PetsPaw/src/images/breeds/search.png", alt="search")
                button#btnLike
                    img(src="/PetsPaw/src/images/breeds/like.png", alt="like")
                button#btnLove
                    img(src="/PetsPaw/src/images/breeds/love.png" , alt="love")
                button#btnDislike
                    img(src="/PetsPaw/src/images/breeds/dislike.png" , alt="dislike")
            .sectionBreeds-menuTwo
                .sectionBreeds-menuTwo-btns
                    button.sectionBreeds-menuTwo-btns-btnMenuTwo#btnBack
                        img(src="/PetsPaw/src/images/breeds/arrow.png", alt="arrow.png")
                    label Breeds
                    select#selectBreeds
                        option All Breeds
                    select#selectLimit
                        option(selected) 5
                        option 10
                        option 15
                        option 20
                    button.sectionBreeds-menuTwo-btns-btnMenuTwo#btnAtoZ
                        img(src="/PetsPaw/src/images/breeds/ZtoA.png", alt="ZtoA")
                    button.sectionBreeds-menuTwo-btns-btnMenuTwo#btnZtoA
                        img(src="/PetsPaw/src/images/breeds/AtoZ.png", alt="AtoZ")
                .sectionBreeds-menuTwo-display
                    .sectionBreeds-menuTwo-display-item.item1
                    .sectionBreeds-menuTwo-display-item.item2
                    .sectionBreeds-menuTwo-display-item.item3
                    .sectionBreeds-menuTwo-display-item.item4
                    .sectionBreeds-menuTwo-display-item.item5
                    .sectionBreeds-menuTwo-display-item.item6
                    .sectionBreeds-menuTwo-display-item.item7
                    .sectionBreeds-menuTwo-display-item.item8
                    .sectionBreeds-menuTwo-display-item.item9
                    .sectionBreeds-menuTwo-display-item.item10
                    .sectionBreeds-menuTwo-display-item.item11
                    .sectionBreeds-menuTwo-display-item.item12
                    .sectionBreeds-menuTwo-display-item.item13
                    .sectionBreeds-menuTwo-display-item.item14
                    .sectionBreeds-menuTwo-display-item.item15
                    //.sectionBreeds-menuTwo-display-item.item16
                    //.sectionBreeds-menuTwo-display-item.item17
                    //.sectionBreeds-menuTwo-display-item.item18
                    //.sectionBreeds-menuTwo-display-item.item19
        script(src='/PetsPaw/src/breeds.js')































































