-var pageTitle="Breeds"
doctype html
html(lang="en")
    head
        title=pageTitle
        style
            include ../scss/breeds.css
    body
        section.sectionMenu
            img(src='../src/images/home/gallery.png' , alt="gallery")