-var pageTitle="Home"
doctype html
html(lang="en")
    head
        title=pageTitle
        style
            include ../src/scss/style.css
    body
        section.sectionMenu
            .sectionMenu-logo
                .sectionMenu-logo-1
                .sectionMenu-logo-2
            .sectionMenu-group
                .sectionMenu-group-welcomBlock
                    p#welcomP1 Hi intern!
                    p#welcomP2 Welcome to MI 2022 Front-end test
                    p#welcomP3 Lets start using The Cat API
                .sectionMenu-group-itemBlock
                    .sectionMenu-group-itemBlock-itemCard
                        .sectionMenu-group-itemBlock-itemCard-img#item1
                            img(src='../src/images/home/voting.png' , alt="voting")
                        .sectionMenu-group-itemBlock-itemCard-btn
                            a(href="/src/pugs/voting.html") VOTING
                    .sectionMenu-group-itemBlock-itemCard
                        .sectionMenu-group-itemBlock-itemCard-img#item2
                            img(src='../src/images/home/breeds.png' , alt="breeds")
                        .sectionMenu-group-itemBlock-itemCard-btn
                            a(href="/src/pugs/breeds.html") BREEDS
                    .sectionMenu-group-itemBlock-itemCard
                        .sectionMenu-group-itemBlock-itemCard-img#item3
                            img(src='../src/images/home/gallery.png' , alt="gallery")
                        .sectionMenu-group-itemBlock-itemCard-btn
                            a(href="/src/pugs/gallery.html") GALLERY

        section.sectionBanner
            .sectionBanner-img
                .sectionBanner-rectangle





















































































